body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav {
    width: 100%;
    position: absolute;
    z-index: 99999999;
}

.ul-style {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0 5%;
}

.ul-style li {
    padding: 1%;
}

.ul-style a,
.ul-style a:visited {
    text-decoration: none;
    color: #F78DA7;
    transition: all 0.3s ease-in-out;
}

.ul-style a:hover {
    color: #9900EF;
    transition: all 0.5s ease-in-out;
}

.images {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 5%;
    padding: 2% 0 2% 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.images img {
    padding: 2%;
    transition: all 0.2s ease-in-out;
}


.images img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

main {
    position: relative;
    top: calc(100vh - 30vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.footer-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    position: relative;
    top: 100%;
    padding: 5%;
    background: rgb(213, 91, 190);
    background: -moz-linear-gradient(273deg, rgba(213, 91, 190, 1) 0%, rgba(153, 14, 237, 1) 100%);
    background: -webkit-linear-gradient(273deg, rgba(213, 91, 190, 1) 0%, rgba(153, 14, 237, 1) 100%);
    background: linear-gradient(273deg, rgba(213, 91, 190, 1) 0%, rgba(153, 14, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d55bbe", endColorstr="#990eed", GradientType=1);
}

.footer-infos .footer-icons:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.footer-icons {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

footer {
    background-image: url(../images/svg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0d1117;
        color: #c9d1d9;
    }
}

@media screen and (max-width: 1024px) {
    main {
        top: calc(100vh - 55vh);
    }
}

/* #0d1117 - cor do tema escuro */