<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Laís Galvão">
        <meta property="og:type" content="article" />
        <meta property="og:description" content="Olá 👋🏽, sou a Laís, Desenvolvedora e professora. Como posso ajudar?">
        <meta property="og:image"
            content="https://raw.githubusercontent.com/LaisGalvao/LaisGalvao/main/images/Sem%20t%C3%ADtulo.png">
        <meta property="og:url" content="https://laisgalvao.github.io/">
        <meta name="twitter:card" content="summary_large_image">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/index.css">
        <title>👋🏽 Laís Galvão</title>
    </head>

    <body>

        <div id="app">
            <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            Laís Galvão
        </ul>
    </div>
</nav>
<!-- Main Content -->
<main class="container">
    <!-- Conteúdo principal aqui -->
    <div class="about">
        {{ about }}
    </div>
    <div class="services">
    <h2>Serviços Prestados</h2>
    <ul>
      <li v-for="(service, index) in services" :key="index">{{ service }}</li>
    </ul>
    <h2>Experiências profissionais:</h2>
    <ul>
      <li v-for="(experience, index) in experiences" :key="index">{{ service }}</li>
    </ul>
    <h2>Trabalho voluntário:</h2>
    <ul>
      <li v-for="(volunteerExperience, index) in volunteerExperiences" :key="index">{{ service }}</li>
    </ul>
</div>
</main>
<!-- Footer -->
<footer>
    <div class="footer-infos">
        <a href="https://www.linkedin.com/in/lais-galvao-bueno/" target="_blank" type="button"
            class="footer-icons">
            <!-- Ícone do LinkedIn aqui -->
        </a>

        <a href="https://github.com/LaisGalvao" target="_blank" type="button" class="footer-icons">
            <!-- Ícone do GitHub aqui -->
        </a>
    </div>
</footer>

        </div>
      
        <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
        <script src="app.js"></script>
      </body>
</html>